In [2]:
import pickle
results=pickle.load(open("data/option_close_price0419_IO2405.pkl", "rb"))

In [3]:
import pandas as pd
pd.DataFrame(results)

,IO2405-P-3800,IO2405-P-3300,IO2405-C-3500,IO2405-C-3650,IO2405-C-3350,IO2405-P-3250,IO2405-C-3050,IO2405-C-3450,IO2405-C-3400,IO2405-C-3800,...,IO2405-C-3850,IO2405-P-3450,IO2405-P-3500,IO2405-C-3200,IO2405-P-3950,IO2405-C-3550,IO2405-P-3750,IO2405-P-3600,IO2405-P-4000,IO2405-C-3150
price,262.300003,5.845161,85.200001,21.755555,205.499997,3.644444,490.550003,120.466665,159.0,4.764286,...,2.628571,27.745454,44.033333,345.100006,407.5,58.200001,217.400002,93.299999,457.300003,394.300003
full_record,raw.IO2405-P-3800.last_price 260.0000...,raw.IO2405-P-3300.last_price 5.8 ra...,raw.IO2405-C-3500.last_price 8.540000e+0...,raw.IO2405-C-3650.last_price 2.180000e+0...,raw.IO2405-C-3350.last_price 2.020000e+0...,raw.IO2405-P-3250.last_price 3.8 ra...,raw.IO2405-C-3050.last_price 493.6000...,raw.IO2405-C-3450.last_price 1.194000e+0...,raw.IO2405-C-3400.last_price 1.580000e+0...,raw.IO2405-C-3800.last_price 4.6 ra...,...,raw.IO2405-C-3850.last_price 2.4 ra...,raw.IO2405-P-3450.last_price 2.760000e+0...,raw.IO2405-P-3500.last_price 4.420000e+0...,raw.IO2405-C-3200.last_price 348.7999...,raw.IO2405-P-3950.last_price 406.3999...,raw.IO2405-C-3550.last_price 5.760000e+0...,raw.IO2405-P-3750.last_price 217.8000...,raw.IO2405-P-3600.last_price 9.460000e+0...,raw.IO2405-P-4000.last_price 456.3999...,raw.IO2405-C-3150.last_price 414.00000...
meta,"{'PRODUCT_NAME': 'IO', 'MATURITY': '2405', 'OP...","{'PRODUCT_NAME': 'IO', 'MATURITY': '2405', 'OP...","{'PRODUCT_NAME': 'IO', 'MATURITY': '2405', 'OP...","{'PRODUCT_NAME': 'IO', 'MATURITY': '2405', 'OP...","{'PRODUCT_NAME': 'IO', 'MATURITY': '2405', 'OP...","{'PRODUCT_NAME': 'IO', 'MATURITY': '2405', 'OP...","{'PRODUCT_NAME': 'IO', 'MATURITY': '2405', 'OP...","{'PRODUCT_NAME': 'IO', 'MATURITY': '2405', 'OP...","{'PRODUCT_NAME': 'IO', 'MATURITY': '2405', 'OP...","{'PRODUCT_NAME': 'IO', 'MATURITY': '2405', 'OP...",...,"{'PRODUCT_NAME': 'IO', 'MATURITY': '2405', 'OP...","{'PRODUCT_NAME': 'IO', 'MATURITY': '2405', 'OP...","{'PRODUCT_NAME': 'IO', 'MATURITY': '2405', 'OP...","{'PRODUCT_NAME': 'IO', 'MATURITY': '2405', 'OP...","{'PRODUCT_NAME': 'IO', 'MATURITY': '2405', 'OP...","{'PRODUCT_NAME': 'IO', 'MATURITY': '2405', 'OP...","{'PRODUCT_NAME': 'IO', 'MATURITY': '2405', 'OP...","{'PRODUCT_NAME': 'IO', 'MATURITY': '2405', 'OP...","{'PRODUCT_NAME': 'IO', 'MATURITY': '2405', 'OP...","{'PRODUCT_NAME': 'IO', 'MATURITY': '2405', 'OP..."

# preprocess test period data between 2024-07-01 to 2024-08-01

In [43]:
df=pd.read_csv("data/SPV_option.csv")
df["date"]=pd.to_datetime(df["date"],format="%Y-%m-%d")
SPY_test=df[(df["date"]>="2024-07-01") & (df["date"]<="2024-07-31")].copy()
SPY_test["expiration"]=pd.to_datetime(SPY_test["expiration"],format="%Y-%m-%d")

SPY_test["date"]=SPY_test["date"].dt.strftime("%Y-%m-%d")
SPY_test["expiration"]=SPY_test["expiration"].dt.strftime("%Y-%m-%d")

underlying=pd.read_csv("data/SPY.csv")
underlying["date"]=pd.to_datetime(underlying["date"],format="%Y-%m-%d")
underlying["date"]=underlying["date"].dt.strftime("%Y-%m-%d")

SPY_test=SPY_test.merge(underlying,on="date",how="left")
SPY_test["opt_close_price"]=(SPY_test["ask"]+SPY_test["bid"])/2
SPY_test["udl_close_price"]=SPY_test["close"]
SPY_test[["date","expiration","strike","call_put","opt_close_price","udl_close_price"]].to_csv("data/SPY_testPeriod.csv",index=False)

In [5]:
import pandas as pd
df=pd.read_csv("data/IFtest.csv")
df_SPY=pd.read_csv("data/SPY_testPeriod.csv")
df_IF_underlying=pd.read_csv("data/IFclose.csv")
underlying_price=df_IF_underlying[df_IF_underlying["ins_id"]=="IF2404"].copy().reset_index(drop=True)
merged_df=df.merge(underlying_price,on="date",how="left")

merged_df=merged_df.dropna(subset=["close"])

In [ ]:
date,expiration,strike,call_put,opt_close_price,udl_close_price

In [7]:
merged_df["call_put"]=merged_df["option_type"]
merged_df["opt_close_price"]=merged_df["close_price"]
merged_df["udl_close_price"]=merged_df["close"]
merged_df[["date","expiration","strike","call_put","opt_close_price","udl_close_price"]].to_csv("data/IFtest.csv",index=False)

In [ ]:
merged_df.to_csv("data/IFtest.csv",index=False)

(768, 7)

In [ ]:
df.

         date  expiration  strike option_type  close_price
0  2024-03-25  2024-05-17    3050        Call   480.799988
1  2024-03-25  2024-05-17    2900        Call   630.500000
2  2024-03-25  2024-05-17    3900        Call     0.967273
3  2024-03-25  2024-05-17    2850        Call   680.600006
4  2024-03-25  2024-05-17    3850        Call     1.376471

In [ ]:
import pandas as pd
data=pd.read_csv("data/IFclose.csv")
data["date"]=pd.to_datetime(data["date"],format="%Y%m%d").dt.strftime("%Y-%m-%d")

In [15]:
data.to_csv("data/IFclose.csv",index=False)

In [14]:
data["date"]

0       2017-07-04
1       2017-07-05
2       2017-07-06
3       2017-07-07
4       2017-07-10
           ...
1590    2024-04-15
1591    2024-04-16
1592    2024-04-17
1593    2024-04-18
1594    2024-04-19
Name: date, Length: 1595, dtype: object

In [ ]:
import pandas as pd
pd.re